 <script>  
  $(document).ready(function() {
    $(".btnPrint").printPage(
    {
      url: "/resume/print_resume",
      attr: "href",
      message:"Идет печать ..."
}
    );
  });
</script>
<div id="print_page">
  <div class="alert alert-info">
    <table>
      <tr>
        <td style="width:20%;">
          <%= image_tag "kidslandia_logo.jpg", :style=>"width:150px;" %>
        </td>
        <td style="width:30%;"></td>
        <td>
          <h1 >  Резюме </h1>   
        <td>
        <td style="width:40%;">
          <%#= image_tag "other.jpg", :class => "img-polaroid" %>
        </td>
      </tr>
    </table>
  </div>
<hr>
<% @person = Person.find(cookies[:person_id]) %>
<%- model_class = Person -%>
<div class="alert alert-info">
  <h4><%=t '.title', :default => "Персональна інформація / Персональная информация:" %></h4>
</div>
<table class="table" >
  <tr >
    <td style="width:50%">
      <table style="width:90%;">
        <tr>
          <td> Ім'я / Имя:</td>
          <td> <%= @person.first_name %></td>
        </tr>
        <tr>
          <td> Прізвище / Фамилия:</td>
          <td> <%= @person.last_name %></td>
        </tr>
        <tr>
          <td> Стать / Пол:</td>
          <td> <%= @person.sex %></td>
        </tr>
        <tr>
          <td> Вік / Возраст:</td>
          <td> <%= @person.age %></td>
        </tr>
        <tr>
          <td>Місце навчання / Место учебы: </td>
          <td> <%= @person.school_type %> №:<%= @person.school_number %>, <%= @person.klass %>  </td>
        </tr>
      </table>  
    
    </td>
    <td style="width:50%;">
      <div class="pagination-centered" >
        <% if @person.headshot_photos.size >0  %>
          <%= image_tag "/headshots/#{@person.headshot_photos.last.image_file_name}" , :class=>"img-polaroid",
             :size => "200x200" %>
        <% end %>
      </div>
    </td>
  
  </tr>
</table>

<div class="alert alert-info interests" >
  <h4><%=t '.title', :default => "Інтереси / Интересы:" %></h4>
</div>
<div class="row  interests">
  <div class="span6 offset3 muted">
    <ul>
      <% @person.variants.each do |variant| %> 
        <li> <h5> <%= variant.text %> </h5> </li>
      <% end %>
    </ul>
  </div>
</div>
<%
=begin
%>
<hr>
<div class="alert alert-info">
  <h4><%=t '.title', :default => "Рекомендовані сфери діяльності:" %></h4>
</div>
<div class="row ">
  <div class="span6 offset3 muted">
    <% list_services = []
    @person.variants.each do |variant|
      variant.jobs.each do |job|
        list_services << job.service.name if list_services.include?("#{job.service.name}") == false
      end
    end
    %>
    <% list_services.each do |service| %>
      <%= "#{service}, "  %>
    <% end%>
  </div>
</div>
<%
=end
%>
<hr>
<div  class="alert alert-info">
  <h4><%=t '.title', :default => "Рекомендовані професії / Рекомендуемые профессии:" %></h4>
</div>
<div class="row ">
  <div class="span6 offset3 muted ">
    <%
      list=[]
    list_services=[]  
    @person.variants.each do |variant|
      id = @person.id%variant.jobs.size
      list <<  variant.jobs[id].name
     #  variant.jobs.each do |job|
     #    list << " #{job.name} "
     #  end
    end
    %>
    <table>
      <tr>
        <% list.each_slice(4) do |slice|%>
          <td>
            <ul>
            <% slice.each do |l| %>
              <li> <h5> <%= l %></h5> </li>
            <% end %>
            </ul>
          </td>
        <% end %>
      </tr>
    </table>
  </div>
</div>
<hr />
 <% if cookies[:lang] == "ukr" %>
  <p class="pagination-centered"> <a class="btnPrint btn btn-primary btn-large" href='iframes/iframe.html' id="print_link">Роздрукувати</a></p>
 <% else %>
  <p class="pagination-centered"> <a class="btnPrint btn btn-primary btn-large" href='iframes/iframe.html' id="print_link">Печать</a></p>
 <% end %>
</div>
