<%= render "/resume/header" %>
<% @question = Question.all[3] %>

<div class="alert alert-info">
  <h3> <%= @question.text %> </h3>
</div> 
<%= form_tag("/resume/question4" , :method => :put)  do  %>
  <% @question.variants.each do |v| %>
    <label class="radio">
      <%= radio_button_tag(:variant, v.id) %>
      <h4 class="muted">  <%= v.text %> </h4>
    </label>
  <% end %>
  <hr>
  <div class="form-actions pagination-centered">
    <%= submit_tag "Далі" , :class=> " btn btn-primary btn-large"%>
  </div>
 <% end %>

